/* estudiante.component.css */
.sidebar {
  position: absolute;
  top: 75px;
  left: 0;
  height: 100vh;
  width: 50px;
  overflow: hidden;
  transition: width 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3); /* ✅ sombra leve */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1rem;
  z-index: 1000;
  background-color: white;
  text-align: center;
}

.sidebar > .menu-btn{
  opacity: 0;

}
.sidebar > h4{
  opacity: 0;
}

.sidebar:hover > h4{
  opacity: 1;
}

.sidebar:hover > .menu-btn{
  opacity: 1;
}

.sidebar:hover{
     width: 200px; /* ✅ se expande al hacer hover */
}

h4{
  position: relative;
  text-align: center;
  width: 100%;
}

.menu-btn {

  border: none;
  color: rgb(51, 51, 51);
  padding: 1rem;
  text-align: left;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
  background-color: rgb(212, 212, 212);
  margin-top: 2px;
}

.menu-btn:hover {
  background-color: #829eb9;
  color: white;
  opacity: 1 !important;
}


.triangulo {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #2c3e50; /* mismo color del sidebar */

  position: absolute;
  left: 50px; /* pegado al borde derecho del sidebar */
  top: 50%;
  transform: translateY(-50%);

}



.sidebar:hover + .triangulo{
  position: absolute;
  left: 200px;
  transition: 0.3s;
}
