<div class="main-content">
    <div class="nav-content">
        <h2>Inscripcion de Materias</h2>
    </div>


    <div class="container">
        <h1 class="title">Form Registro</h1>
        <br />
        <br />
        <div class="card">
            
            <label for="pass">Seleccione materia</label>
           <select class="form-control">
              <option *ngFor="let m of materias()" [value]="m.id">materia : {{ m.materia }} profesor : {{m.profesor}}</option>
            </select>
             <Button type="submit" class="btn">Inscribir</Button>
        </div>
    </div>
</div>