<app-header-auth></app-header-auth>
<div class="login-page">
  <div class="form">
     <form class="login-form" [formGroup]="formData" (ngSubmit)="register()">
      <input type="text" placeholder="nombre" formControlName="nombre" />
      <input type="text" placeholder="email" formControlName="email" />
      <input type="password" placeholder="password" formControlName="password" />
      <button type="submit">login</button>
      <p class="message">Not registered? <a href="login">iniciar sesion</a></p>
    </form>
  </div>
</div>

