

.main-content .nav-content{
    position: absolute;
    padding: 10px;
    width: 100%;
    left: 0;
    top:0%;
    background-color: #e9e7e7;
    box-shadow: 0 0 12px 1px gray;
    text-align: center;
}

.main-content .containerTable{
  position: relative;
  padding-top: 10px;
  top: 150px;
  width: 1000px;
  height:auto;
margin-right: auto;
margin-left: auto ;
box-shadow: 0 0 12px 1px rgb(194, 193, 193);
padding-bottom: 50px;
}

.main-content .containerTable table{
    position: relative;
    width: 900px;
    margin: auto;
    border:1px solid rgb(228, 227, 227);
}

.main-content .containerTable .title{
  position: relative;
  width: 1000px;
  padding:  5px;
  text-align: center;
}

.no-data{
    padding: 3px;
    padding-left: 12px;
}